/* My CSS stylesheet for Lab 1 using Bootstrap. -- O'Dwyer 2023 */

/* Fonts */
/* Method to declare your own fonts */
    @font-face {
        font-family: cocaColaFont;
        src: url(assets/fonts/loki_cola/lokicola.ttf);
    }

    @font-face {
        font-family: OpenSans;
        src: url(assets/fonts/Open_Sans/OpenSans-Regular.ttf);
    }

    @font-face {
        font-family: Oswald;
        src: url(assets/fonts/Oswald/static/Oswald-Regular.ttf);
    }

/* Styling */
/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap*/

    body {
        background-color: rgba(182, 231, 243, 1.0);
    }

    .main_contents {
        margin-top: 10px;
        margin-bottom: 10px;
    }

/* Some simple CSS rules for styling p, h1 to h6, etc. in the main content’s container */

    p {
        font-family: 'Open Sans', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        /*font-family: 'Oswald', sans-serif;*/
        font-family: cocaColaFont;
    }

    #main_3d_image {
        background-image: url(assets/images/main_3d_538.jpg);
        background-repeat: no-repeat;
        height: 201px;
    }

    #main_text {
        float: left;
        margin: 5%;
        width: 90%;
        display: block;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        border-radius: 5px;
    }

    #main_text h2 {
        color: rgba(0,102,153,1);
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    #main_text h3 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #main_text p {
        font-size: 12px;
        margin: 0px;
        line-height: 1.2;
    }

    .card {
        border: 1px solid rgba(0,0,0,.125);
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgba(182, 231, 243, 1.0);
    }

/* Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) { ... }
