/* Fonts */
    /* Method to declare your own fonts */
    @font-face {
        src: url(../Assets/Fonts/loki_cola/LOKICOLA.TTF);
        font-family: cocaColaFont;
    }

    @font-face {
        src: url(Assets/Fonts/Open_Sans/static/OpenSans-Regular.ttf);
        font-family: OpenSans;
    }

    @font-face {
        src: url(Assets/Fonts/Oswald/static/Oswald-Regular.ttf);
        font-family: Oswald;
    }
      
/* Styling */
    /* Some simple CSS rules for styling p, h1 to h6, etc. in the main content’s container */
    body {
        background-color: rgba(182, 231, 243, 1.0);
    }

    .main_contents {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #main_3d_image {
        background-image: url(Assets/Images/main_3D.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* The div block for the main_3d_image has no vertical size,
        so we need a height to see the background image */
        height: 200px;
    }
    #main_text {
        float: left;
        margin: 5%;
        width: 90%;
        display: block;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        border-radius: 5px;
    }
    #main_text h2 {
        color: rgba(0,102,153,1);
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    #main_text h3 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #main_text p {
        font-size: 12px;
        margin: 0px;
        line-height: 1.2;
    }

    .card {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgba(182, 231, 243, 1.0);
     }

    p {
        font-family: 'Open Sans', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Oswald', sans-serif;
        /*font-family: cocaColaFont;*/
    }

/* Responsive Breakpoints */
    /* X-Small devices (portrait phones, less than 576px)
       No media query for `xs` since this is the default in Bootstrap
    */

    /* Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) { ... }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { ... }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { ... }

    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { ... }

    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) { ... }

