/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* Theme Data */

:root[data-theme="light"] {
    --bg-color: #FAFAFA;
    --text-color: #050505;
    --primary: #F0B427;
    --secondary: #f9f0d2;
    --accent: #be4186;
    --spacing: 500px;
}

:root[data-theme="dark"] {
    --bg-color: #050505;
    --text-color: #FAFAFA;
    --primary: #F0B427;
    --secondary: #2d2406;
    --accent: #d88db6;
    --spacing: 500px;
}

/* Basic HTML Components */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    width: 100%;
    z-index: 97;
    margin: 0px auto;
    padding: 120px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.page {
    position: relative;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    transform: translateX(100px);
    opacity: 0;
    transition: 150ms;
}

.page.show {
    transform: translateX(0);
    opacity: 1;
}

/* Floating Toolbar */

#tools {
    position: fixed;
    bottom: 0;
    right: 0;
    grid-column: 6 / 12;
    padding: 2rem;
    color: var(--text-color);
    z-index: 98;
}

#topBtn {
    --offset: 50px;

    position: relative;
    place-self: end;
    margin-top: calc(100vh + var(--offset));

    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: var(--text-color);
    background-color: var(--secondary);
    border-radius: 100px;
    white-space: nowrap;
transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

#topBtn:hover {
  color: var(--bg-color);
  background-color: var(--accent);
}

#theme {
    position: relative;

    /* visual styling */
    text-decoration: none;
    border: none;
    padding: 10px;
    font-size: 12;
  color: var(--text-color);
    background-color: var(--secondary);
    border-radius: 100px;
    white-space: nowrap;
transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

#theme:hover {
  color: var(--bg-color);
  background-color: var(--accent);
}

/* Text Styles */

blockquote {
    margin: 0;
    padding: 5;
    grid-column: 2 / span 9;
}

blockquote p {
    color: var(--bg-color);
    background-color: var(--accent);
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    display: inline;
    line-height: 1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, li {
  font-weight: 400;
  font-size: 1rem;
}

a, span {
    color: var(--text-color);
    background-color: var(--secondary);
}

i {
    font-size:  1rem;
}

label {
    font-size:  1rem;
    font-weight: 600;
    text-transform: uppercase;
}

input {
  width: 25%;
  padding: 10px;
  border-radius: 4rem;
    color: var(--text-color);
    background-color: var(--secondary);
    border: none;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

input:hover {
  color: var(--bg-color);
  background-color: var(--accent);
}

select {
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 4rem;
  color: var(--text-color);
  background-color: var(--secondary);
  transition: width 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

select:hover {
  color: var(--bg-color);
  background-color: var(--accent);
}

/* Sections */

#header {
    background: var(--primary);
    color: var(--text-color);
    font-size: 2.5rem;
    padding: 2rem;
    grid-column: 2 / span 5;
}

#profile {
    grid-column: 2 / 10;
}

#topArtists {
    grid-column: 2 / 10;
}

#tagline {
    grid-column: 6 / 12;
}

#player {
    background: var(--primary);
    color: var(--text-color);
    font-size: 2.5rem;
    padding: 2rem;
    grid-column: 2 / 10;
}

#quote {
    grid-column: 6 / 12;
}

#topTracks {
    grid-column: 2 / 10;
}

#visuals {
    background: var(--primary);
    color: var(--text-color);
    font-size: 2.5rem;
    padding: 2rem;
    grid-column: 2 / 10;
}

#refs {
    grid-column: 6 / 12;
}

#share {
    grid-column: 6 / 12;
}

html,
body {
    scroll-behavior: smooth;
}
